<div class="section-header" >
  Service category : <%= @category.name.titleize %>
</div>
<div style="height: 70vh; width: 100vw;">

</div>

<div class="footer">
  <button class="green" style="float: right;" onmousedown="window.location='/service_types'">Finish</button>
</div>

