default: &default
  application_name: registration
  dde_server: 127.0.0.1:3001
  dde_username: your_dde_username
  dde_password: your_dde_password
  site_code: YOUR_SITE_CODE
  secure_connection: false
  help_base_url: http://127.0.0.1:3000/

development:
  <<: *default

test:
  <<: *default

production:
  <<: *default